<h1>Log in</h1>

<div class= "row">
<div class= "col s6">
<form class="" action="/login" method="post">
    <label style="color:#563f46" for="email">Email:</label>
    <input type="text" name="email" id="email" value="">
    <label style="color:#563f46" for="password">Password:</label>
    <input type="password" name="password" id="password" value="">
    <br><br>
    <input type="submit" class= "btn" style="color:#fff;background:#563f46" name="" value="Time to log in!">
</form>
</div>
<div class= "col s6">
<img src="/images/undraw_Bookshelves_re_lxoy.svg" style="margin: 0; padding: 0;">
</div>
</div>