
<h2>Time to Sign Up!</h2>
<body>
<form class="" action="/users" method="post">
  <b><label for="name" style="color:#563f46">Name: </label></b>
  <input type="text" class="white" name="name" value="">
  <b><label for="email" style="color:#563f46">Email: </label></b>
  <input type="text" class="white" name="email" value="">
  <b><label for="password" style="color:#563f46" >Password: </label></b>
  <input type="password" class="white" name="password" value="">
  <br><br>
  <input type="submit" style="color:#fff;background:#563f46" class= "btn" name="" value="Push to Sign Up">


</form>

  <img src="/images/undraw_book_reading_kx9s.svg" style="margin: 0; padding: 0;">
  </body>
