  
<h1>Create a New Post!</h1>


<form class="" action="/posts" method="post">
  <label for="title">Title:</label>
  <input type="text" name="post[title]" value="">

  <label for="author">Author:</label>
  <input type="text" name="post[author]" value="">
  
  <label for="copyright_date">Date Published:</label>
  <input type="text" name="post[copyright_date]" value="">

  <label for="image_url">Image URL:</label>
  <input type="text" name="post[image_url]" value="">
  
  <label for="description">Review:</label>
  <input type="text" name="post[description]" value="">

  <input type="hidden" name="post[user_id]" value="<%=current_user.id%>">

  <input type="submit" name="" value="Create Post">

</form>