  
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

  <head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    
  <link rel="icon" href="/images/bookclublogo.PNG">

  <title>Book Club</title>
  <link rel="stylesheet" href="public/stylesheets/main.css" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head> 
  
  <body style = "background-color: #8ca3a3;">
    <nav>
    <div class="nav-wrapper" style="color:#fff;background:#484f4f"> 
      <a  class="brand-logo"> <i style= "padding-left: 50px;" class="large material-icons">book</i>Book Club</a>
      <ul id="nav-mobile" class="right">
          <% if logged_in? %>
          <li><a href="/posts">All Posts</a></li>
          <li><a href="/users/<%=@current_user.id%>">My Posts</a></li>
          <li><a href="/posts/new">Create Post</a></li>
          <li><a href="/logout">Logout</a></li>
          <% else %>
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Signup</a></li>
          <% end %> 
      </ul>
    </div>
  </nav>
       
        
      

  <div  class="container" style= "display: flex; min-height: 100vh; flex-direction: column;" >
  <%= yield %>
  </div>
     

    
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  


          <footer class="page-footer" style="color:#fff;background:#484f4f;">
          <div class="footer-copyright" style="color:#fff;background:#484f4f">
            <div class="container">
            © 2021 Elisa's Copyright Text
            
             <a class="grey-text text-lighten-4 right" href="https://flatiron-hub.herokuapp.com/">Design help by Charles</a>

            </div>
          </div>
        </footer>

  </body>

<script>

.topnav {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px; 
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
  	input[type="text"]
{
    background: transparent;
    border: none;
} 
</script>